<form [formGroup]="form" (ngSubmit)="add()">
    Pokemon to add<br>
    <input type="text" formControlName="pokemonName">
    <button type="submit">Add!</button>
</form>

<table>
    <tr *ngFor="let p of pokemonList">
        <td>
            <a [routerLink]="['view', p.name]">
                {{p.name}}
            </a>
        </td>
        <td>
            <button (click)="deletePokemon(p)">Delete</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="test()">Test</button>
        </td>
    </tr>
    
</table>
